.text-primary {
  color: rgb(40, 167, 69);
}

.text-secondary {
  color: rgb(2, 132, 208);
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: rgb(255, 255, 255);
  background-color: rgb(40, 167, 69);
  border: none;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-primary,
.bg-primary {
  background-color: rgb(40, 167, 69);
  color: rgb(255, 255, 255);
}

.btn-secondary,
.bg-secondary {
  background-color: rgb(2, 132, 208);
  color: rgb(255, 255, 255);
}

.btn-dark,
.bg-dark {
  background-color: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
}

.btn-light,
.bg-light {
  background-color: rgb(255, 255, 255);
  color: rgb(51, 51, 51);
}

.btn-outline {
  background: transparent;
  border: 1px solid rgb(255, 255, 255);
}

.flex-columns .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flex-columns .column {
  display: felx;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
  height: 100%;
}

.flex-columns img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex-columns .column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
}

.flex-columns h2 {
  font-size: 40px;
  font-weight: 100;
}

.flex-columns h4 {
  margin-bottom: 10px;
}

.flex-columns p {
  margin: 20px 0;
}